In [2]:
import pandas as pd

In [3]:
amd_file = "data/AMD_stock.csv"
google_file = "data/Google_stock.csv"
hp_file = "data/HP_stock.csv"
intel_file = "data/Intel_stock.csv"
tesla_file = "data/Tesla_stock.csv"

amd = pd.read_csv(amd_file)
google = pd.read_csv(google_file)
hp = pd.read_csv(hp_file)
intel = pd.read_csv(intel_file)
tesla = pd.read_csv(tesla_file)

In [4]:
tech_list = [amd, google, hp, intel, tesla]

def cal_test_data(df):
    hc = df['High'] - df['Low']
    oc = df['Close'] - df['Open']
    m_avg_7 = hc.rolling(7, min_periods=0).mean() 
    m_avg_14 = hc.rolling(14, min_periods=0).mean()
    m_avg_21 = hc.rolling(21, min_periods=0).mean()
    m_std_7 = df['Close'].rolling(7, min_periods=0).std()
    close = df['Close']
    test_data = {
        "High-Low Price": hc,
        "Close-Open Price": oc,
        "7-day m_avg": m_avg_7,
        "14-day m_avg": m_avg_14,
        "21-day m_avg": m_avg_21,
        "7-day m_std": m_std_7,
        "close": close
    }
    test_df = pd.DataFrame(test_data)
    test_df = test_df.fillna(0)
    return test_df

In [5]:
cal_test_data(amd)

,High-Low Price,Close-Open Price,7-day m_avg,14-day m_avg,21-day m_avg,7-day m_std,close
0,0.629999,0.010000,0.629999,0.629999,0.629999,0.000000,11.430000
1,0.280001,-0.020000,0.455000,0.455000,0.455000,0.000000,11.430000
2,0.460000,-0.190001,0.456667,0.456667,0.456667,0.109697,11.240000
3,0.380000,0.030000,0.437500,0.437500,0.437500,0.092557,11.320000
4,0.330000,0.120000,0.416000,0.416000,0.416000,0.100350,11.490000
...,...,...,...,...,...,...,...
1002,1.200005,0.009995,2.527143,2.815714,3.009048,2.298816,91.809998
1003,2.320000,-1.330002,2.600001,2.836429,3.009048,2.138821,91.599998
1004,3.029999,-1.040001,2.794286,2.850000,3.075238,1.749579,90.620003
1005,2.659996,1.510002,2.585714,2.644286,2.906190,0.934162,92.290001
1006,1.430000,-0.389999,2.190000,2.527858,2.825714,0.773520,91.709999

In [6]:
cal_test_data(google)

,High-Low Price,Close-Open Price,7-day m_avg,14-day m_avg,21-day m_avg,7-day m_std,close
0,13.830017,7.330017,13.830017,13.830017,13.830017,0.000000,786.140015
1,8.180054,-1.459961,11.005035,11.005035,11.005035,0.537408,786.900024
2,9.459961,7.940002,10.490011,10.490011,10.490011,4.346769,794.020020
3,15.696045,10.890015,11.791519,11.791519,11.791519,9.271221,806.150024
4,7.135986,0.250000,10.860413,10.860413,10.860413,10.004890,806.650024
...,...,...,...,...,...,...,...
1002,16.890015,3.849976,27.350586,31.234593,31.726964,12.922782,1738.849976
1003,44.393066,24.454956,31.275303,32.506243,32.793300,17.155756,1776.089966
1004,36.349976,-29.070068,31.736154,33.267308,33.021391,18.298864,1758.719971
1005,39.494995,-22.489990,32.394008,31.341239,33.327584,17.652768,1739.520020
1006,23.510010,16.459961,29.774013,30.092660,31.806158,17.731727,1751.880005

In [7]:
cal_test_data(hp)

,High-Low Price,Close-Open Price,7-day m_avg,14-day m_avg,21-day m_avg,7-day m_std,close
0,1.874001,0.425999,1.874001,1.874001,1.874001,0.000000,43.397999
1,2.737999,2.447998,2.306000,2.306000,2.306000,1.414214,45.397999
2,1.105999,0.065998,1.906000,1.906000,1.906000,1.141096,45.349998
3,0.972000,0.415997,1.672500,1.672500,1.672500,1.078554,45.801998
4,0.784000,0.462002,1.494800,1.494800,1.494800,1.092946,46.256001
...,...,...,...,...,...,...,...
1002,25.090027,18.780029,35.054295,38.177150,34.425714,22.295498,661.770020
1003,20.600037,-10.820007,34.068586,36.381439,34.043335,17.965263,663.690002
1004,14.900024,4.989990,30.580017,35.104296,33.784764,18.085613,665.989990
1005,28.239990,22.780029,25.120013,32.384295,32.591907,18.015480,694.780029
1006,27.599976,5.679993,25.858582,29.969295,32.677621,23.968305,705.669983

In [8]:
cal_test_data(intel)

,High-Low Price,Close-Open Price,7-day m_avg,14-day m_avg,21-day m_avg,7-day m_std,close
0,0.660000,-0.010002,0.660000,0.660000,0.660000,0.000000,36.599998
1,0.430000,-0.299999,0.545000,0.545000,0.545000,0.134349,36.410000
2,0.410000,-0.100002,0.500000,0.500000,0.500000,0.130512,36.349998
3,0.490002,-0.110001,0.497500,0.497500,0.497500,0.107393,36.480000
4,0.410000,0.130001,0.480000,0.480000,0.480000,0.114674,36.610001
...,...,...,...,...,...,...,...
1002,0.750000,0.470001,1.277142,1.231428,1.200000,2.079478,47.070000
1003,0.779999,-0.119999,1.277142,1.163571,1.208095,1.529618,47.070000
1004,4.179996,2.169998,1.717142,1.397142,1.371904,1.083757,49.389999
1005,0.629997,-0.360001,1.297141,1.362856,1.343333,1.242216,48.750000
1006,1.469997,1.070000,1.334284,1.387142,1.340952,1.457073,49.820000

In [9]:
cal_test_data(tesla)

,High-Low Price,Close-Open Price,7-day m_avg,14-day m_avg,21-day m_avg,7-day m_std,close
0,0.392500,0.087500,0.392500,0.392500,0.392500,0.000000,29.037500
1,0.190001,0.042500,0.291250,0.291250,0.291250,0.022982,29.004999
2,0.262501,0.172501,0.281667,0.281667,0.281667,0.077500,29.152500
3,0.422501,0.282501,0.316875,0.316875,0.316875,0.215739,29.477501
4,0.372499,0.260000,0.328000,0.328000,0.328000,0.319441,29.747499
...,...,...,...,...,...,...,...
1002,2.360001,0.649994,2.851431,2.902144,2.690001,2.123658,131.970001
1003,3.830002,2.699997,3.140003,3.010002,2.797144,3.300767,136.690002
1004,4.449997,-3.180008,3.555715,3.192858,2.948573,3.487737,134.869995
1005,2.590012,-1.860001,3.500002,3.024288,2.873811,2.763909,133.720001
1006,3.020004,-1.389999,3.237146,2.974288,2.852859,1.989628,132.690002

In [10]:
cal_test_data(amd).to_csv("test_data/test_amd.csv", index=False, header=True)
cal_test_data(google).to_csv("test_data/test_google.csv", index=False, header=True)
cal_test_data(hp).to_csv("test_data/test_hp.csv", index=False, header=True)
cal_test_data(intel).to_csv("test_data/test_intel.csv", index=False, header=True)
cal_test_data(tesla).to_csv("test_data/test_tesla.csv", index=False, header=True)